*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}

.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;
}

h1{
    font-family: 'Langar', cursive;
    font-size: 65px;
    text-align: center;
    color: bisque;
}

p{
    font-size: 30px;
    text-align: center;
    color: blanchedalmond;
}

input, textarea{
    width: 80%;
    margin: 12px auto;
    padding: 7px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    outline: none;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 10px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.image{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.submitMsg{
    color: greenyellow;
}